NODE_ENV=development
PORT=4500
DOCKER_HOST=unix:///var/run/docker.sock
CADDY_ADMIN_URL=http://localhost:2019
DATABASE_ADMIN_URL=postgresql://postgres:postgres@localhost:5432/postgres
DATABASE_ADMIN_USER=postgres
DATABASE_ADMIN_PASSWORD=postgres
GITHUB_TOKEN=
